<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 文件输出格式 -->
	<property name="PATTERN"
		value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />
	<property name="simplePattern" value="[%thread] %msg %n"></property>
	<!-- test文件路径 -->
	<property name="TEST_FILE_PATH" value="d:/test.log" />
	<!-- pro文件路径 -->
	<property name="PRO_FILE_PATH" value="./log.txt" />


	<appender name="PROD_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${PRO_FILE_PATH}</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${PRO_FILE_PATH}/warn.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<MaxHistory>100</MaxHistory>
			<totalSizeCap>20MB</totalSizeCap>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${PATTERN}</pattern>
		</layout>
	</appender>
	<logger name="com.zaxxer.hikari" level="ERROR" />
	<root level="INFO">
		<appender-ref ref="PROD_FILE" />
		<!-- <appender-ref ref="DB" /> -->
	</root>
</configuration>